<a href="https://colab.research.google.com/github/Githubprj1/Assignment0-Login-Registration-python-/blob/main/Python_Advanced.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Functions

In [ ]:
# Function is a block of code which will run when it is called inside the program
# EXAMPLE: Let us see how to create a FUNCTION and call it to return values
def function_def():
  print("this is how python function is defined")

function_def()  #calling the function

this is how python function is defined

# Functions as Arguments

In [ ]:
#Arguments is used in function to pass the information
#parameter are given after the function definition inside the paranthesis with comma seperated
# EXAMPLE: creating a function called fullname and passing a parameter firstname and lastname and calling it ith arguments("hema","krish")
def fullname(firstname,lastname):  # parameter1 - firstname , parameter2 - lastname
  print(firstname + " " + lastname)

fullname("hema","krish")

hema krish

# Arguments - certain forms

In [ ]:
# If the arguments is unknown we can mention * before the parameter
# EXAMPLE: to print the MNC company names(which will be many names as per data)
def MNC_name(*names):
  print("The company name is " + names[0]) # mentioned the position of the arugment nae to be displayed

MNC_name("Accenture","Wipro","Cognizant","TATA consultancy")

The company name is Accenture

In [ ]:
# KEYWORD ARGUMENTS - mention the value particularlu=y
# EXAMPLE: to choose favourite language
def Fav_prglang(prglang1,prglang2,prglang3,prglang4):
  print("My favourite programming language is " + prglang4)

Fav_prglang(prglang1="C",prglang2="JAVA",prglang3="GOLANG",prglang4="PYTHON")

My favourite programming language is PYTHON

In [ ]:
# DEFAULT PARAMETER VALUE - calling a function without any value , it picks the default parameter value
def def_value(skills="python"):
    print("Everyone needs to learn any one programming language: " + skills)

def_value("false")
def_value("true")
def_value()

Everyone needs to learn any one programming language: false
Everyone needs to learn any one programming language: true
Everyone needs to learn any one programming language: python

In [ ]:
# Function with Return statement
def sum(x,y):
  return x+y

print(sum(2,3))

5

NOTE: Function cannot be empty , so avoid error or to eep the function definition we can use PASS statement
def def_name():
    pass


Therefore functions can be used in an code to avoid repeatative block of code in an program** **bold text** **bold text**

# LIST and  LIST COMPREHENSION

In [ ]:
#List - List in python -> built-in datatype which accepts dfferent datatpe values and defined with squared bracket
#It is ordered,changeable and allow duplicates
#We can modify ,add and remove values
# EXAMPLE:
list=['ram','priya','rose','lily']
print(list)

['ram', 'priya', 'rose', 'lily']

In [ ]:
#LIST COMPREHENSION --> one line of code
# EXAMPLE: TO GET A NAME WHICH HAS 'a' IN THE LIST OF NAMES

newlist=[x for x in list if 'a' in x]
print(newlist)

# #if we use loops it will be as below:
# newlist=[]
# for x in list:
#   if 'a' in x:
#     newlist.append(x)
#   else:
#     continue
# print(newlist)

['ram', 'priya']

NOTE: Rather than using multiple line of code we can go for single line of code using LIST COMPREHENSION and it is faster than other functions and loops to create list.

## FILE HANDLING

In [ ]:
import os              #create folder
os.mkdir('myfolder')

OS - module in python which helps to interact with the operating system.

Here we are creating folder called myfolder

In [ ]:
os.mkdir('myfolder/sample')

creating text file inside a folder - sample

In [ ]:
#create a file
file1=open("sample.txt","x")   # create a new file
file1=open("sample.txt","w")   # w give write access
file1=open("sample.txt","a")  # 'a'append
file1.write("python is easy language")
file1.close()  #it is always good practice to close file after file creation becos some time the changes
               # may not show until we cloe the file

In [ ]:
#Below code represent how to opend and read a file
f = open("sample.txt", "r") # to open file  and need to give 'r' read command

print(f.read())

python is easy language

In [ ]:
# REMOVE OR DELETE FILE : to remove the file we should USE os.remove
#f2=open("sample1.txt","x")
#os.remove("sample.txt")

# LAMBDA,FILTERS AND MAP

In [ ]:
#LAMBDA FUNCTION: Lambda keyword to define unnamed function
# takes n number of arguments but takes one expression and retruns one argument at a time
# EXAMPLE: to sum three numbers
x = lambda a,b,c : a+b+c
print(x(1,2,3))

6

In [ ]:
#LAMBDA FUNCTION WITH FILTER
#EXAMPLE: TO PRINT EVEN NUMBER FROM LIST
numbers=[1,2,3,4,5,6,7,8,9,10]
even_values = list(filter(lambda z: z%2 == 0,numbers)) #filter accepts two arguments functions and list
print(even_values)

TypeError: ignored

In [ ]:
#LAMBDA FUNCTION WITH MAP
p=[1,2,3,4,5]
q=list(map(lambda t:t*2,p))  #map will apply the formula to all the values
print(q)

TypeError: ignored

# Iterators

In [ ]:
# Iterator - object that can be iterated
# use methods _iter_() and _next_()
# EXAMPLE: iterating through num values
nums=[5,6,7,8]
it = iter(nums)
print(it.__next__())

5

In [ ]:
#creating on class and using iterator

class toptennum:

  def __init__(self):
    self.num = 1

  def __iter__(self):
    return self

  def __next__(self):

     if self.num <= 10:
         ans = self.num
         self.num +=1

         return ans

     else:
         raise StopIteration

answer = toptennum()

for i in answer:
   print(i)

1
2
3
4
5
6
7
8
9
10

# PICKLING

In [ ]:
# pickle is a module which is used to convert the data to binary data
# In general if any data need to be transfered securely through any network medium we can use pickle module in python to convert which is understandable by machine
# EXAMPLE: Trying to secure the passwords by copying to file
import pickle
passwords=["abcsd1@1","fnanfw1#","lopiH*31"]
file3="pwd.pkl"  #creating a file
fileobject=open(file3,"wb")  #write binary in file3
pickle.dump(passwords,fileobject) #pickle.dump(data,filename) which will dump the passwords to binary data
fileobject.close()

When we open the PWD.PKL file, it will not be understood by us

In [ ]:
# to decode the pickled file (i:e:- to make understandable)
# file3="pwd.pkl"  #creating a file
# fileobject=open(file3,"rb")  #read binary in file3
# print(pickle.load(fileobject))

# Python JSON

In [ ]:
import json   # Built in module to work in json
# creating a json file list of dictionary
mydict={"people" : [{"name" : "divya", "age" : 26,"weight": 62},{"name" : "hanna","age" : 20,"weight": 50} ,{"name" : "tom","age" : 28,"weight": 65}]}


json_string = json.dumps(mydict)
with open('mydata.json','w') as f:
     f.write(json_string)

In [ ]:
#load - will fetch data fro json
X='{"name" : "divya", "age" : 26,"weight": 62}'
Y=json.loads(X)
print(Y["age"])

26

In [ ]:

# PYTHON TO JSON --> json.dumps
A = {"name": "HEMA","age": 25,"city": "GERMANY"}

# convert into JSON:
B = json.dumps(A)

# the result Will be in JSON string:
print(B)

{"name": "HEMA", "age": 25, "city": "GERMANY"}

# DATE , TIME MODULE AND OPERATIONS

In [ ]:
import datetime # gives date and time

Dt=datetime.datetime.now()
print(Dt)

2023-09-04 17:12:49.847270

In [ ]:
# create date


CreDt = datetime.datetime(2023, 9, 4) # year,month,date

print(CreDt)

2023-09-04 00:00:00

In [ ]:
#display monthname - strftime
monthname = datetime.datetime(2023, 5, 1)

print(monthname.strftime("%B"))

May

We have many short cut format to fetch date , month,time

# CALENDAR MODULE AND FUNCTIONS

In [ ]:
import calendar        #Built in module
# to display calendar for a year

print ("The calendar for the year 2023 is :) ")
print (calendar.calendar(2023))

The calendar for the year 2023 is :)
                                  2023

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5             1  2  3  4  5
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19
16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26
23 24 25 26 27 28 29      27 28                     27 28 29 30 31
30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31

In [ ]:
# printing required month calender
text_cal = calendar.TextCalendar(firstweekday = 0)

year = 2023
month = 9

# default value of width is 0

# printing prmonth
print(text_cal.prmonth(year, month))

   September 2023
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30
None

Likewise we have many built-in function in python to fetch different types calendar data.

# REGULAR EXPRESSIONS (RegEx)
# Sequence of characters that forms a search pattern

In [ ]:
import re #built - in function to search a string to find a match
#EXAMPLE
stmt = "Regular expression in python made easier to handle different special characters"
res = re.findall("in", stmt) # findall character in sentence
print(res)

['in']